﻿/*
# Reset defaults ################### 
*/

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; } /* Reset margins and padding */

a:link, a:visited{text-decoration:none;outline:none;} /* Reset link styles */

html {overflow: -moz-scrollbars-vertical;} /* Mozilla scrollbar fix */

/*   
###################################
*/

#footer {
	background-color: #FFF;
	border-top:1px solid #bbbbbb;
}

body{
	font-family: "Helvetica Neue", Helvetica, Arial;
}
   
#body_container{	          
	padding:20px 0;
	clear:both;
	margin-bottom:10px;
}
   
#header{
	border:1px solid #bbb;
}
   
h1{
	padding:10px 20px 10px 0;
}
   
.nav-header ul{
	list-style:none;
}
        
#footer_container{
	width:960px;
	margin:auto;
}
   

.logos{
    display:none;
}

.sub-nav-footer{
	border-top:1px solid #ccc;
}

  
#footer ul {
    list-style:none;
}

#footer ul ul,
.nav-header ul ul{
    margin-left:10px;
}

#forums table{
	width:100%;
}

#forums table th{
	background:#ddd;
	border:1px solid #bbb;
}

#forums table td{
	text-align:center;
}

#forums table td.forum-column-odd{
	text-align:left;
}

input.paypal {
    background: url(/f/files/css/main/images/btn_xpressCheckout.gif) no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    border: 0;
    width: 154px;
    height: 42px;
}

.virtualCurrencyBundles,
.virtualCurrencyBalances{
    list-style:none;
}

.virtualCurrencyBalances .accountName{
    display:inline-block;
    width:200px;
}

.termsAndConditionsCheckbox {
	font-weight:normal;
	clear:both;
	display:inline-block;
}

.checkbox{
	display:block; 
	clear:both;
}
.checkbox input{
	float:left; 
	margin:0; 
	padding:0; 
	height:15px;
}

#project-show-action a.button{display:inline-block; margin:5px 5px 5px 0;}

div.browserWarning {
    text-align: center;
    color: red;
    font-size: 15pt;
    clear: both;
}

userProfileButtons p {
    display:inline-block;
}

.inline-block {
    display:inline-block;
}

#filterByTag #query {
  width: 60% !important;
}

.deleteLink, 
.purgeLink,
.reassignLink,
.quarantineLink,
.stopLink,
.startLink,
.pauseLink,
.informationLink,
.loading {
	overflow: hidden;
    height: 16px;
    width: 16px;
    display: inline-block;
    text-indent: -9999px;   
}
.deleteLink {
    background: url(../images/icons/delete.png) no-repeat;   
}

.purgeLink {
    background: url(../images/icons/cross.png) no-repeat;   
}

.reassignLink {
	background: url(../images/icons/arrow_rotate_anticlockwise.png) no-repeat;
}

.quarantineLink {
    background: url(../images/icons/delete.png) no-repeat;	
}

.stopLink {
    background: url(../images/icons/control_stop_blue.png) no-repeat;
}

.startLink {
    background: url(../images/icons/control_play_blue.png) no-repeat;
}

.pauseLink {
    background: url(../images/icons/control_pause_blue.png) no-repeat;
}

.informationLink {
	background: url(../images/icons/information.png) no-repeat;
	cursor: help;
}

.loading {
	background: url(../images/icons/indicator.gif) no-repeat;
}

.createPartnerButton{
    margin:10px 0;
}

.partnerDashDetails, .projectDetails{
	width:375px;
	display:inline-block;
}

.partnerDashButtons, .projectButtons{
	width:200px;
    text-align:right;
   	display:inline-block;
}

.partnerDashButtons .button{
    display:inline-block;
    margin:10px 10px 0 0;
}

#developerList .item h4{
    font-size:16px;
    padding:5px 5px 0 5px;
    height:30px;
}


#developerList .item .button{
    display:inline-block;
    margin:9px 5px 0 0;
}

div.error {
    border: 1px solid #D8000C;
    background: #FFBABA;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    color: #333;
    clear: both;
}

.leftNav{
	border:1px solid #ccc;
}

.leftNavHeader{
	display:block;
	height:40px;
	background:#eee;
	border-bottom:1px solid #ccc;
}

.leftNavHeader img,.leftNavHeader h3{
	display:inline-block;
	vertical-align:middle;
}

.leftNavHeader img{
	margin:0;
	padding:0;
	border:0;
	border-right:1px solid #ccc;
}

.leftNavHeader h3{
	margin:0;
	line-height:40px;
	margin-left:10px;
}

#profile-modal{
	display:none;
}

.profileOverlay{
	background-color: #ccc;
    background-image: none;
    opacity: 0.6;
}

#profileModalInside{
	padding-top:10px;
}

div.largeProfile{
	display:none;
}

.leftNavBody ul.profile{
	list-style:none;
	padding:5px 10px;
}

.leftNavBody ul.menu{
	list-style:none;
}

.leftNavBody ul.menu li{
	display:block;
	padding:10px;
	border-top:1px solid #ddd;
}

.leftNavBody ul.menu li.heading{
	background:#eee;
	font-weight:bold;
	padding:5px 10px;
}

.leftNavBody p{
	margin:0 0 5px 0;
	padding:0;
}

.leftNavBody select{
	width:275px;
}

#developerReports.dashboard-reports {
    border: 1px solid #CCCCCC;
}

.dashboard-report-title {
    margin-left: 10px;
}

.dashboard-report {
    margin-left: 15px;
}

.disabled {
	color: darkgrey;
}
}