﻿div#background
{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;
}

div#progressbar
{
    text-align: center;
    display: none;
    position: absolute; /* width: 280px; 				 padding: 10px;*/
    
    color: white;
    font-size: 90%;
}
/* HOVER STYLES */
div#pop-up
{
    display: none;
    position: absolute; /* width: 280px; 				 padding: 10px;*/
    background: #eeeeee;
    color: #000000;
    border: 3px solid #E6E6FA;
    font-size: 90%;
}
