﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="site_delete.aspx.cs" Inherits="site_report" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <br />
        <br />
        <br />
        <asp:Label ID="Label1" runat="server" Text="Enter Your SiteID :"></asp:Label><asp:TextBox
            ID="TextBox1" runat="server"></asp:TextBox>&nbsp;<asp:Button ID="Button1" runat="server"
                Text="Send To Bibek For Delete" onclick="Button1_Click1" />
    </div>
    </form>
</body>
</html>
