/* Vodafone fonts declaration */

/* VodafoneLtRegular */
@font-face {
    font-family: 'VodafoneLtRegular';
    src:url('vf-light.eot');
    src: url('vf-light.eot?#iefix') format('embedded-opentype'),
         url('vf-light.woff') format('woff'),
         url('vf-light.ttf') format('truetype'),
         url('vf-light.svg#VodafoneLtRegular') format('svg');
}

/* VodafoneMdRegular */
@font-face {
    font-family: 'VodafoneMdRegular';
    src: url('vf-medium.eot');
    src: url('vf-medium.eot?#iefix') format('embedded-opentype'),
         url('vf-medium.woff') format('woff'),
         url('vf-medium.ttf') format('truetype'),
         url('vf-medium.svg#VodafoneRgNormal') format('svg');
}

/* VodafoneRgBold */
@font-face {
    font-family: 'VodafoneRgBold';
    src: url('vf-bold.eot');
    src: url('vf-bold.eot?#iefix') format('embedded-opentype'),
         url('vf-bold.woff') format('woff'),
         url('vf-bold.ttf') format('truetype'),
         url('vf-bold.svg#VodafoneRgBold') format('svg');
}


