﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="header.ascx.cs" Inherits="receiver_header" %>
<link rel='stylesheet' href='styles.css' type='text/css' media='screen' />
<div class='head'>
            <table width="100%">
                <tr>
                    <td style="width: 5%; text-align: left">
                        <img alt="" src="../HTML/images/2.png" style="height: 32px; width: 38px; margin-right: 0px;" />
                    </td>
                    <td style="width: 75%; text-align: left; margin-top: 0px; color: #FFFFFF;">
                        PTW Automation Tool&nbsp;
                    </td>
                    <td style="width: 20%; text-align: right; margin-top: 0px; color: #FFFFFF;">
                                <asp:LinkButton ID="lnkchangeproject" runat="server" 
                            Font-Names="Calibri" Font-Size="13px"
                                    ForeColor="white" Font-Underline="false" OnClick="lnklogout_Click" 
                            PostBackUrl="~/login/ciat_ptw.aspx" Visible="False">Change</asp:LinkButton>
                    </td>
                </tr>
                <tr>
                    <td style="width: 5%; text-align: left">
                        &nbsp;</td>
                    <td style="width: 75%; text-align: left; margin-top: 0px; color: #FFFFFF;">
                         <asp:Label ID="welcome" runat="server"  >Welcome,  </asp:Label>
                        <asp:Label ID="lblusername" runat="server" 
                            ></asp:Label>
                        </td>
                    <td style="width: 20%; text-align: right; margin-top: 0px; color: #FFFFFF;">
                               <asp:LinkButton ID="lnklogout" runat="server" CausesValidation="false" onclick="lnklogout_Click">LogOut</asp:LinkButton>
                    </td>
                </tr>
            </table>
        </div>