﻿<%@ Page Language="C#" MasterPageFile="~/AllPage/AllCommon.master" AutoEventWireup="true"
    CodeFile="pmt_Default3.aspx.cs" Inherits="admin_Default3" Title="Untitled Page" %>

<%-- Add content controls here --%>
