﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="support_menu.ascx.cs" Inherits="AllPage_support_menu" %>

<div id="menu">
    <ul class="menu">
        <li><a href="#" class="parent"><span>CIAT Requset</span></a>
            <ul>
                <%--<li><a href="support_request_1@risk.aspx"><span>CIAT</span></a></li>
                <li><a href="#"><span></span></a></li>
                <li><a href="#"><span></span></a></li>--%>
            </ul>
        </li>
        <li><a href="#" class="parent"><span>PTW Requset</span></a>
            <ul>
                <li><a href="support_request_1@risk.aspx"><span>Request 1@Risk</span></a></li>
                <li><a href="support_request_1@risk_show.aspx"><span>View Requested 1@Risk</span></a></li>
                <%--<li><a href="#"><span></span></a></li>--%>
            </ul>
        </li>
        <li><a href="#" class="parent"><span>G-PM "A" Requset</span></a>
            <ul>
                <%--<li><a href="support_request_1@risk.aspx"><span>CIAT</span></a></li>
                <li><a href="#"><span></span></a></li>
                <li><a href="#"><span></span></a></li>--%>
            </ul>
        </li>
        <li><a href="#" class="parent"><span>G-PM "P" Requset</span></a>
            <ul>
                <%--<li><a href="support_request_1@risk.aspx"><span>CIAT</span></a></li>
                <li><a href="#"><span></span></a></li>
                <li><a href="#"><span></span></a></li>--%>
            </ul>
        </li>
    </ul>
</div>