﻿@charset "UTF-8";

/** 
 * NVIDIA CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		NVIDIA
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE6+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */


/* -- Base drop-down styling -- */

ul.dropdown {
    color: #FFFFFF;
    font-size: 1.01em;
    font-weight: bold;
 /*font: normal 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
 text-transform: uppercase;*/
}

	ul.dropdown li {
	 padding: 7px 0;
	 background-color: white;
	 color: #fff;
	 line-height: normal;
	}

	ul.dropdown a:link,
	ul.dropdown a:visited { color: #fff; text-decoration: none; }
	ul.dropdown a:hover { color: #76b900; text-decoration: none; }
	ul.dropdown a:active { color: #fff; }
ul.dropdown .dir{
height:25px;
padding-top:26px;
background-color:#E60000;

}
	/* -- level mark -- */

	ul.dropdown ul {
	 width: 170px;
	 background-color: white;
	 color: black;
	 font-size: 11px;
	 text-transform: none;
     box-shadow: 2px 2px 1px #DBDBDB;
     
	 /*filter: alpha(opacity=90);
	 -moz-opacity: .9;
	 KhtmlOpacity: .9;
	 opacity: .9;*/

	}

		ul.dropdown ul li {
		 
         border-bottom: 1px solid #DBDBDB;
		 color: #000;
		 filter: none;
		}

		ul.dropdown ul li.hover,
		ul.dropdown ul li:hover {
		 background-color: transparent;
		}

		ul.dropdown ul a:link,
		ul.dropdown ul a:visited { color: #000; }
		ul.dropdown ul a:hover { color: #fff; text-decoration: none; }
		ul.dropdown ul a:active { color: #000; }


/* -- Supporting class `dir` -- */

ul.dropdown *.dir {
 padding-right: 12px;
 background-image: none;
 background-position: 100% 50%;
 background-repeat: no-repeat;
}