/*
 * Normalise
 * layout 
 * Fonts 
 * helper 
 * Media Queries
 */

/* Normalise css */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary
{
	display: block;
}
audio, canvas, video
{
	display: inline-block;
}
audio:not([controls])
{
	display: none;
	height: 0;
}
 [
hidden]
{
	display: none;
}
html
{
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
a:focus
{
	outline: thin dotted;
}
a:active, a:hover
{
	outline: 0;
}
abbr[title]
{
	border-bottom: 1px dotted;
}
b, strong
{
	font-weight: bold;
}
dfn
{
	font-style: italic;
}
mark
{
	background: #ff0;
	color: #000;
}
code, kbd, pre, samp
{
	font-family: monospace,serif;
	font-size: 1em;
}
pre
{
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
q
{
	quotes: "\201C" "\201D" "\2018" "\2019";
}
small
{
	font-size: 80%;
}
sub, sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup
{
	top: -0.5em;
}
sub
{
	bottom: -0.25em;
}
img
{
	border: 0;
}
svg:not(:root)
{
	overflow: hidden;
}
figure
{
	margin: 0;
}
fieldset
{
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
legend
{
	border: 0;
	padding: 0;
}
button, input, select, textarea
{
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button, input
{
	line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"]
{
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], input[disabled]
{
	cursor: default;
}
input[type="checkbox"], input[type="radio"]
{
	box-sizing: border-box;
	padding: 0;
}
input[type="search"]
{
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
{
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
textarea
{
	overflow: auto;
	vertical-align: top;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
h1
{
	font-size: 2em;
}
h2
{
	font-size: 1.5em;
}
h3
{
	font-size: 1em;
}
p
{
	font-size: 0.88em;
}
small
{
	font-size: 0.63em;
}

/*-----------------------*/


/* layout  */
*
{
	margin: 0;
	padding: 0;
}
body
{
	width: 100%;
	background: #282828;
	-webkit-font-smoothing: antialiased;
	color: #ffffff;
}

.container
{
	margin: 0 auto;
	width: 1024px;
	height: 768px; /*background-image: url(../images/12_col.gif);*/
/*	background: url(../images/bg.jpg) no-repeat 0 0;*/
}
.content
{
	width: 320px;
	height: 480px;
	padding: 25px 135px 25px 25px;
	position: relative;
	/*background: url(../images/vodafone.png) no-repeat 0 0;*/
}
.title
{
	font: normal normal bold 32px/34px 'VodafoneRgBold' , Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
.subtitle
{
	font: normal normal normal 18px/18px 'VodafoneRgBold' , Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
}
ul.formfields
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 270px;
	display: block;
	padding: .5em 0;
	
}
.formfields li, .enter
{
	font: normal normal normal 1em/1.5em 'VodafoneMdRegular' , Arial, Helvetica, sans-serif;
	margin-bottom: .75em;
}
.formfields li label
{
	position: relative;
	float: left;
	width: 75px;
}
.formfields li input
{
	position: relative;
	float: right;
	width: 123px;
	border: none;
	padding: .25em;
}
.formfields li input
{
	border: none;
	outline: none;
}
.content .enter
{
	position: relative;
	background: none;
	border: none;
	color: #ffffff;
	float: right;
	text-align: left;
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-right: 70px;
	line-height: 1.2em;
	cursor: pointer;
	display: inline-block;
}
.content .forgot
{
	position: relative;
	clear: right;
	float: left;
	text-align: left;
}

.vodafone
{
	font: normal normal normal 21px/20px 'VodafoneRgBold' , Arial, Helvetica, sans-serif;
	margin: 10px 0 0 0;
	padding: 0;
}
.power
{
	font: normal normal normal 1.25em/1em 'VodafoneLtRegular' , Arial, Helvetica, sans-serif;
}

/*-----------------------*/




/* Helper */
.txtcolor
{
	color: Red;
}
.hidden
{
	display: none !important;
	visibility: hidden;
}

.clearfix
{
	zoom: 1;
}
.clearfix:before, .clearfix:after
{
	content: "";
	display: table;
}
.clearfix:after
{
	clear: both;
}

.bordercheck
{
	border: 1px solid #000;
	box-sizing: border-box;
}

/*-----------------------*/

/* IE */

.lt-ie9 .title
{
	font-size: 30px;
}
.lt-ie8 .content .forgot
{
	position: relative;
	clear: right;
	float: left;
}
