﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="header.ascx.cs" Inherits="receiver_header" %>
<link rel='stylesheet' href='styles.css' type='text/css' media='screen' />

<script src="../android_mobile/js/jquery-1.9.1.min.js" type="text/javascript"></script>

<script src="../android_mobile/js/cordova-2.4.0.js" type="text/javascript"></script>

<script type="text/javascript">
    var username = [];
	var imeino = [];
	var uniqcode;   
    var mobile_type;
   
  $(document).ready(function(){
  
  });
        document.addEventListener('deviceready', function showValues() {
                        //alert('deviceready');
				        document.addEventListener("backbutton", function(e) {
										        //alert('backbutton');
										        navigator.app.backHistory();					

				        }, true);				

			}, true);
	//alert(username);
	//     alert(imeino);
	function lnklogoutclick()
	{
	try{
	    //alert('logout');
	     mobile_type=$(".mobiletype").val();
        //mobile_type=$("#lblmobileType").val();
        //mobile_type = document.getElementById("lblmobileType").innerHTML;
       // var as = document.getElementById("lblmobileType").value;
        //alert(username);
        //alert(imeino);
        //alert(uniqcode);
        //alert(mobile_type);
       
        if(mobile_type=="Android"){
       
        //alert("local URL");
        //navigator.app.loadUrl("file:///android_asset/www/index.html?qury1="+qury1+"&qury2="+qury3+"&siteid="+siteid12+"&stepid="+step+"&inspection_counter="+inspectcount+"&check_type="+check_type+"&ques_id="+ques_id);
        navigator.app.loadUrl("file:///android_asset/www/Login.html");
        //window.location.href="file:///android_asset/www/viewsite.html?username=" + username + "&imeino=" + imeino + "&u_c=" + uniqcode;
       //alert("data");
        return false;
       
        }
        else
        {
        //alert("else");
        return true;
        }
        }
        catch(e)
        {
        //alert("errro:"+e);
        }
	}
    </script>

<div class='head'>
            <table width="100%">
                <tr>
                   <%-- <td style="width: 5%; text-align: left">
                        <img alt="" src="../HTML/images/2.png" style="height: 40px; width: 42px; margin-right: 22px;" />
                    </td>--%>
                    <td style="width: 80%; text-align: center; margin-top: 0px; color: #FFFFFF;background-color:orange;padding-left:10px">
                      <label style="font-size:20px;color:#FFFFFF;font-weight:bold;font-family:Arial"/">
                                Cellsite Inspection Automation Tool
                                <br />
                                <span style="font-size: 11px; font-style: italic; /*margin-left: -20%;*/">
                                    An initiative of VIL Technology HSW
                                </span>
                            </label>
                    </td>
                    <%--<td style="width: 3%; text-align: left">
                    </td>--%>
                    <td style="width: 20%; text-align: right; margin-top: 0px; color:white;background-color:orange;">
                                <asp:LinkButton ID="lnkchangeproject" runat="server" 
                            Font-Names="Calibri" Font-Size="13px"
                                    ForeColor="white" Font-Underline="false" OnClick="lnklogout_Click" 
                            PostBackUrl="~/login/ciat_ptw.aspx" Visible="False">Change</asp:LinkButton>
                    </td>
                </tr>
                <tr>
                   <%-- <td style="width: 5%; text-align: left">
                        &nbsp;</td>--%>
                    <td style="width: 80%; text-align: left; margin-top: 0px; color: #000000;">
                         <asp:Label ID="welcome" runat="server"  >Welcome,  </asp:Label>
                        <asp:Label ID="lblusername" runat="server" 
                            ></asp:Label>
                        </td>
                    <td style="width: 20%; text-align: right; margin-top: 0px; color: #000000;">
                               <asp:LinkButton ID="lnklogout" runat="server" CausesValidation="false" OnClientClick="return lnklogoutclick();" onclick="lnklogout_Click">LogOut</asp:LinkButton>
                    </td>
                </tr>
            </table>
           <input type="hidden" id="hidmobile_type" class="mobiletype" runat="server" />
        </div>