﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="process_changepass.aspx.cs" Inherits="receiver_process_changepass" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Src="~/issuer/header.ascx" TagPrefix="uc1" TagName="Header" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <%--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
--%>
    <link rel='stylesheet' href="styles.css" type='text/css' media='screen' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <%--    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
--%>
    <link rel="icon" href="#">
    <title>VIL HSW</title>
    </head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div class='pg'>
        <uc1:Header ID="Header1" runat="server" />
        <br />
        <div class='pg-main' style="margin-top: 29px">
           <hr />
            <center>
            
               <a href="view.aspx" style="font-size: 10pt">PTW Process</a>
                |
             <a href="change_password.aspx" style="font-size: 10pt">Change Passowrd</a>
            </center>
            <hr />
            <br />
            <br />
            <br />
        </div>
        <div class='foot' style="margin-top: 50px">
          <%--  <p>
                &copy; </p>--%>
        </div>
    </div>
    </form>
</body>
</html>
