/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.7.0
*/
html
{
	color: #000;
	background: #FFF;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td
{
	margin: 0;
	padding: 0;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img
{
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup
{
	font-style: inherit;
	font-weight: inherit;
}
del, ins
{
	text-decoration: none;
}
li
{
	list-style: none;
}
caption, th
{
	text-align: left;
}
h1, h2, h3, h4, h5, h6
{
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after
{
	content: '';
}
abbr, acronym
{
	border: 0;
	font-variant: normal;
}
sup
{
	vertical-align: baseline;
}
sub
{
	vertical-align: baseline;
}
legend
{
	color: #000;
}
input, button, textarea, select, optgroup, option
{
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input, button, textarea, select
{
	font-size: 100%;
}

/*
* Some Element Styles
*/
h1
{
	color: #fff;
	font-size: 30px;
}
h2
{
	margin-top: 15px;
	font-size: 19px;
	color: #333;
}
h3
{
	font-size: 12px;
	margin-top: 15px;
	color: #666;
}
p
{
	margin-bottom: 9px;
}
a
{
	color: inherit;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}



/*
	Some "Mobile" styles
	And other general styles
*/

.not-there
{
	display: none;
}
.head
{
	/*background: red;
	padding: 8px 0px -2px 0px;*/
	background: white;
	padding: 8px 0 5px 10px;
	height: 55px;
}
.entries p
{
	display: none;
}
.entries p.preview
{
	display: block;
}
.sidebar ul
{
	border-left: solid 1px #ccc;
	padding: 0 0 0 5px;
}
.sidebar ul li
{
	display: inline;
	padding: 0 5px 0 0px;
	border-right: solid 1px #ccc;
}

/*
	These sidebar styles are fairly specific
	so that they can be directly overridden
	by media query later
*/
h3.subscribe
{
	display: none;
}
.sidebar ul.subscribe
{
	position: absolute;
	top: 25px;
	right: 10px;
	border: none;
	color: #fff;
}
.sidebar ul.subscribe li
{
	border: none;
}

.foot
{
	margin: 20px 0 0 0;
	padding: 20px 10px 10px 10px;
	border-top: solid 1px #999;
	background: orange;
	color: white;
	height: 38px;
}

.footer1
{
	padding-top: auto; /*	margin: 30px 0 0 0; 	padding: 30px 10px 10px 10px; 	border-top: solid 1px #999; 	background: red; 	color: #fff;*/
}
.pg-main
{
	padding: 5px 2px 0 2px;
	
	
	
	
}
.step
{
	background-color:red;
	border-bottom-style:double;
	color:White;
	
	}


/*
	The "Desktop" layout
*/
@media all and (min-width:800px)
{
	.pg
	{
		width: 800px;
		margin: 0 auto;
	}
	.pg-main
	{
		float: left;
		width: 100%;
		padding: 0;
	}
	.head
	{
		/*background:url(head.jpg) top left no-repeat;*/
		background-color: Red top left no-repeat;
		float: left;
		width: 790px;
		height: 40px;
		padding: 10px 0 0 10px;
		margin: 10px 0 0 0;
		/*-webkit-box-shadow: 0px 0px 7px #999;
		-moz-box-shadow: 0px 0px 7px #999;
		-o-box-shadow: 0px 0px 7px #999;
		box-shadow: 0px 0px 7px #999;*/
		-webkit-border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		-o-border-radius: 0 0 10px 10px;
		border-radius: 0 0 10px 10px;
	}
	.entries
	{
		float: left;
		width: 680px;
		padding: 0 20px 0 0;
	}
	.entries p
	{
		display: block;
	}
	.sidebar
	{
		float: left;
		width: 100px;
		text-align: right;
	}

	.sidebar ul
	{
		border: none;
		padding: 0;
	}
	.sidebar ul li
	{
		display: block;
		padding: 0;
		border: none;
	}

	.foot
	{
		float: left;
		width: 100%;
		padding: 100px 0 10px 0;
		
		margin: 0;
		color: white;
		
		background: transparent;
		height: 30px;
	}
.lblh
{
font-size: 14px; color: white; font-family: calibri;
	}
	.lblh
{
font-size: 13px; color: white; font-family: calibri;
	}
	.footer
	{
		float: left;
		width: 100%;
		padding: 100px 0 10px 0;
		padding-top: 50%;
		margin: 0;
		color: #000;
		background: transparent;
	}
	.modalPopup
	{
		background-color: #FFFFFF;
		padding: 3px;
		width: 500px;
	}
	.modalBackground
	{
		background-color: Gray;
		filter: alpha(opacity=70);
		opacity: 0.7;
	}
	/*
					These sidebar styles are pretty specific
					So that they can successfully override the 
					non-media-query styles and the other 
					more general sidebar styles
				*/
	h3.subscribe
	{
		display: block;
	}
	.sidebar ul.subscribe
	{
		position: static;
		top: auto;
		right: auto;
		border: inherit;
		color: inherit;
	}
	.sidebar ul.subscribe li
	{
		border: inherit;
	}


}
