﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="View.aspx.cs" Inherits="View" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<%@ Register Src="~/issuer/header.ascx" TagPrefix="uc1" TagName="Header" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <%--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
--%>
   <link href="../styles.css" rel="stylesheet" type="text/css" media='screen' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <%--    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" />
--%>
<link rel="icon" href="#">
    <title>VIL HSW</title>
    </head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div class='pg'>
        <uc1:Header ID="Header1" runat="server" />
        <div class='pg-main' style="margin-top: 29px">

<table>
                    <tr>
                        <td style="text-align: right;">
                            <asp:LinkButton ID="lnkhome" runat="server" CausesValidation="false" 
                                PostBackUrl="~/issuer/view.aspx">Home</asp:LinkButton>
                                

                        </td>
                    </tr>
                </table>
            <center>
                <asp:LinkButton ID="lnkcreate" runat="server" Text="Pending PTW" 
                     OnClick="lnkcreate_Click"></asp:LinkButton>
                |
                <asp:LinkButton ID="lnkview" runat="server" Text="Existing PTW" 
                    OnClick="lnkview_Click"></asp:LinkButton>
            </center>
            <hr />
            <br />
            <br />
            <br />
            <br />
        </div>
            </div>
            <div class='foot'>
                <%--<p>
                    &copy; </p>--%>
            </div>
    </div>
    </form>
</body>
</html>
