
#header-main #left-logo-content, #header-main #devportal-logo, #header-main #header-message, #header-main #right-logo {
    float: left;
}

body, html {
    font-family: Arial,Geneva,Kalimati,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial,Geneva,Kalimati,sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    background: url("images/rhombus_back.jpg") no-repeat scroll center top #F4F4F4;
}

label.bold {
    font-size: 14px;
    font-weight: bold;
}

.res-grey-shadow-box {
    border-left: medium none;
    border-top: medium none;
    box-shadow: 2px 2px 1px #DBDBDB;
    margin-bottom: 8px;
}

.tooltip {
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: none;
    font-size: 12px;
    padding: 10px 15px;
    text-align: left;
    width: 400px;
}

.floatableFormColumn {
    float: left;
    margin-right: 10px;
}

#associatedSidebar {
    padding: 10px;
    width: 260px;
}

    #associatedSidebar select {
        width: 260px;
    }

    #associatedSidebar input {
        display: inline-block;
    }

        #associatedSidebar input.wide130 {
            margin-right: 0;
            width: 130px;
        }

.wordwrap {
    word-wrap: break-word;
}

.clearFix {
    clear: both;
    display: block;
}

#footer {
    border: 0 none;
    clear: both;
    height: 180px;
    margin: 20px 0 0;
}

ul.tags {
    list-style: none outside none;
}

    ul.tags li {
        display: inline;
        margin-left: 0;
    }

        ul.tags li:not(:last-child):after {
            content: ", ";
        }

ul.network li {
    list-style: none outside none;
    margin-left: 0;
    text-align: left;
    width: 300px;
}

#user-controls {
    height: 40px;
}

    #user-controls a {
        color: #525252;
        font-size: 12px;
    }

    #user-controls ul {
        float: right;
        list-style: none outside none;
        margin: 0;
        padding: 0;
    }

    #user-controls li {
        float: left;
        margin: 0;
        padding: 0;
    }

        #user-controls li.loggedinUser, #user-controls li a {
            -moz-user-select: none;
            color: #525252;
            cursor: pointer;
            display: block;
            font-size: 12px;
            height: 40px;
            line-height: 40px;
            margin-left: 10px;
            text-align: center;
            text-decoration: none;
        }

        #user-controls li.loggedinUser {
            border-right: 1px solid #65A1BE;
            margin-right: 5px;
            padding-right: 10px;
        }

        #user-controls li a span {
            display: block;
        }

        #user-controls li a:active {
            outline: medium none;
        }

            #user-controls li a:active span {
            }

        #user-controls li a:hover {
            color: #BD0000;
            text-decoration: underline;
        }

.requiredField {
    color: #FF0000;
    margin-left: 2px;
    margin-right: 2px;
}

.home {
}

#header {
    border: 0 none;
    margin: auto;
}

#header-message {
    height: 30px;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: -35px;
    width: 800px;
}

#header-main h2 {
    color: #FFFFFF !important;
    font: bold 30px Arial;
}

    #header-main h2 span {
        font-size: 14px;
        left: -2px;
        position: relative;
        top: 6px;
        vertical-align: top;
    }

#header-main p {
    color: #78828C !important;
    font: 20px/20px Arial;
    letter-spacing: -1px;
    margin-top: 0;
    padding-top: 0;
}

#right-logo {
    display: none;
}

#left-logo-content {
    clear: both;
    padding: 3px 0;
    position: relative;
    width: 940px;
}

#devportal-logo {
    background: none repeat scroll 0 0 #E60000;
    left: 0;
    position: absolute;
    top: 30px;
    z-index: 961;
}

    #devportal-logo h1 {
        margin: 0;
        padding: 0;
    }

        #devportal-logo h1 a {
            display: block;
            height: 60px;
            margin-left: -80px;
            overflow: hidden;
            text-indent: -9999px;
            width: 80px;
        }

#body_container {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    width: 940px;
}

#interior {
    padding-top: 20px;
}

#footer_container {
}

#footer {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #525252;
    font: 12px Arial;
    text-align: center;
}

#versionInfo {
    color: #999999;
    font-size: 0.8em;
    margin-top: 25px;
    text-align: center;
}

form p {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

    label.error {
        clear: both;
        color: #FF0000;
        display: block;
        font-weight: normal;
    }

    label.checkbox {
        font-weight: normal;
    }

    label.normal-weight {
        font-weight: 100;
    }

    label.sub {
        font-size: 12px;
        font-weight: normal;
    }

#inputArea textarea {
    display: block;
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 4px;
    width: 300px;
}

#contact #inputArea textarea {
    width: 890px;
}

#captchaResponse {
    display: inline !important;
    width: 200px !important;
}

input[type="text"], input[type="password"], textarea {
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

    input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
        border: 1px solid #000000;
    }

input[type="checkbox"], input[type="radio"] {
    display: inline !important;
    width: 20px !important;
}

input[type="file"] {
    display: inline !important;
}

select {
    margin-bottom: 10px;
    padding: 4px;
}

input.readonly {
    opacity: 0.5;
}

input[type="text"], input[type="password"] {
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    padding: 0 5px;
    width: 300px;
}

.grid_4 input[type="text"], .grid_4 input[type="password"] {
    width: 220px;
}

textarea {
    margin-top: 5px;
    padding: 5px;
    width: 300px;
}

input.error {
    background-color: #FFDDDD;
}

ol.fieldList li {
    margin-bottom: 10px;
}

.success {
    background: url("/f/files/css/main/images/icons/tick.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    color: #008000 !important;
    display: inline !important;
    margin-left: 10px;
    padding-left: 20px;
}

.message {
    background: none repeat scroll 0 0 #FFFFEA;
    border: 1px solid #F7B030;
    clear: both;
    color: #333333;
    margin: 20px 0 10px;
    padding: 5px 10px;
}

    .message span.info-icon {
        background: url("/f/files/css/main/images/icons/infoicon.png") no-repeat scroll 0 0 #F7B030;
        border: 3px solid #FFFFFF;
        border-radius: 18px;
        display: inline-block;
        height: 30px;
        margin: -20px 10px 0 0;
        width: 30px;
    }

.warning {
    background: none repeat scroll 0 0 #FFE6A0;
    border: 1px solid #CC9900;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
}

.avatar {
    border: 1px solid #CCCCCC;
    padding: 2px;
}

.rss {
    background: url("/f/files/css/main/images/icons/rss.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 21px;
    overflow: hidden;
    text-indent: -9999px;
    width: 30px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.ac_results {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    overflow: hidden;
    padding: 0;
    z-index: 99999;
}

    .ac_results ul {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .ac_results li {
        color: #999999;
        cursor: default;
        display: block;
        font-size: 12px;
        line-height: 16px;
        margin: 0;
        overflow: hidden;
        padding: 4px 5px;
    }

.ac_loading {
    background: url("/f/files/css/main/images/indicator.gif") no-repeat scroll right center #FFFFFF;
}

.ac_odd {
    background-color: #FFFFFF;
}

.ac_over {
    background-color: #F9F8EA;
    color: #333333 !important;
}

table.list {
    width: 100%;
}

    table.list td, table.list th {
        padding: 5px;
        text-align: left;
    }

    table.list th {
        background-color: #F1F1F1;
        border-bottom: 1px solid #CCCCCC;
    }

    table.list td.odd {
        background-color: #DEDEDE;
    }

    table.list td.even {
        background-color: #EFEFEF;
    }

h4 {
    color: #333333;
    font: 600 12px Arial;
}

h1 {
    color: #333333;
}

h2 {
    color: #333333;
    font-family: Arial;
    font-size: 20px;
    margin: 20px 0;
}

h3 {
    color: #333333;
    font-family: Arial;
    font-size: 14px;
    margin-bottom: 10px;
}

h4 {
    margin: 10px 0;
}

h5 {
    color: #888888;
    font-size: 12px;
    font-weight: normal;
}

#content p {
    font-size: 12px;
}

    #content p a {
    }

        #content p a.button {
            text-decoration: none;
        }

a {
    color: #444444;
    text-decoration: none;
}

    a:hover {
        color: #BD0000;
        text-decoration: underline;
    }

.paginateButtons, .pagination {
    float: right;
}

.currentStep, .step, .nextLink, .prevLink {
    margin-left: 5px;
}

p, ul, ol {
    color: #525252;
    font: 12px/14px Arial;
    margin: 10px 0;
}

.quote {
    background-color: #91A5B9;
    color: #FFFEFF;
    font: 12px/14px Arial;
    padding: 6px;
    text-align: justify;
    text-shadow: 1px 1px 0 #6E7D8D;
}

.intro {
    background-color: #9BC1DC;
    color: #FFFFFF;
    font: 500 12px/14px Arial;
    letter-spacing: 0.1em;
    padding: 6px;
    text-shadow: 1px 1px 0 #7391A6;
}

.inlineButton {
    margin-left: 10px;
}

.post {
    margin-bottom: 40px;
}

.comment {
    margin-bottom: 20px;
}

.commentContent {
    clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
}

.commentFooter {
    border-bottom: 1px solid #666666;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.hiddenContent {
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    padding: 5px;
}

    .hiddenContent p {
        font-size: 0.8em !important;
        margin: 0;
        padding: 0;
    }

.flagControl {
    display: inline;
}

#progress_6 {
    background: url("/f/files/css/main/images/application-promotion/progress_sprite_6.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 92px;
    margin-bottom: 30px;
    width: 940px;
}

    #progress_6.step1 {
        background-position: left bottom;
    }

    #progress_6.step2 {
        background-position: left -368px;
    }

    #progress_6.step3 {
        background-position: left -276px;
    }

    #progress_6.step4 {
        background-position: left -184px;
    }

    #progress_6.step5 {
        background-position: left -92px;
    }

    #progress_6.step6 {
        background-position: left top;
    }

#progress_4 {
    background: url("/f/files/css/main/images/application-promotion/progress_sprite_4.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 92px;
    margin-bottom: 30px;
    width: 940px;
}

    #progress_4.step1 {
        background-position: left bottom;
    }

    #progress_4.step2 {
        background-position: left -184px;
    }

    #progress_4.step3 {
        background-position: left -92px;
    }

    #progress_4.step4 {
        background-position: left top;
    }

#sign-up_btn {
}

    #sign-up_btn:hover {
    }

#forums {
    background: none repeat scroll 0 0 #FFFFFF;
}

    #forums h2 {
        background: none repeat scroll 0 0 #EBEBEB;
        padding: 5px 20px;
    }

    #forums ol {
        color: #525252;
        font-size: 12px;
        margin: 10px 30px;
    }

table.forums {
    width: 100%;
}

    table.forums th {
        text-align: left;
    }

.reply {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.align-right {
    text-align: right !important;
}

.clear {
    clear: both;
    font-size: 0.01em;
    height: 0;
    line-height: 0;
    width: 0;
}

.frontpage-hero p {
    margin: 0;
    padding: 0;
}

.frontpage-title {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    height: 40px;
    width: 300px;
}

    #forums h3, .frontpage-title h3 {
        border-bottom: 1px solid #DDDDDD;
        font-size: 18px;
        font-weight: normal;
        line-height: 40px;
        margin: 0 10px;
        padding: 0;
    }

.frontpage-image {
    border-left: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
    border-top: 10px solid #FFFFFF;
    height: 135px;
    margin: 0;
    overflow: hidden;
    width: 260px;
}

    .frontpage-image p {
        margin: 0;
        padding: 0;
    }

#frontpage-top-content div.homeBox {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px 20px;
}

#frontpage-middle-content {
    display: none;
}

#frontpage-middle-content {
    border-bottom: 0 dotted #CCCCCC;
    border-top: 0 dotted #CCCCCC;
    margin-top: 10px;
    padding: 10px 0;
}

.sidebar-documents {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    width: 298px;
}

#body_container div.sidebar {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 2px 2px 1px #DBDBDB;
    float: left;
    margin-left: -50px;
    margin-top: 5px;
    padding: 20px;
    width: 130px;
}

    #body_container div.sidebar h3 {
        background: none repeat scroll 0 0 #EBEBEB;
        border: 1px solid #FFFFFF;
        font-family: Arial;
        margin: -20px -20px 20px;
        padding: 5px 20px;
    }

#body_container div.pagebody {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 2px 2px 1px #DBDBDB;
    float: right;
    margin-left: -50px;
    margin-top: 5px;
    padding: 20px;
    width: 770px;
}

    #body_container div.pagebody h3 {
        background: none repeat scroll 0 0 #EBEBEB;
        border: 1px solid #FFFFFF;
        font-family: Arial;
        margin: -20px -20px 20px;
        padding: 5px 20px;
    }

    #body_container div.pagebody h3 {
        color: #404040;
    }

    #body_container div.pagebody.noTopMargin {
        margin-top: 0;
    }

div.pagebody ul {
    margin-left: 20px;
}

#body_container div.pagebody_full {
   background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 2px 2px 1px #DBDBDB;
    margin-left: -60px;
    margin-top: 5px;
    padding: 20px;
    width: 950px;
}

    #body_container div.pagebody_full h3 {
        background: none repeat scroll 0 0 #EBEBEB;
        border: 1px solid #FFFFFF;
        font-family: Arial;
        margin: -20px -20px 20px;
        padding: 5px 20px;
    }

    #body_container div.pagebody_full h3 {
        color: #404040;
    }

    #body_container div.pagebody_full.noTopMargin {
        margin-top: 0;
    }

div.pagebody_full ul {
    margin-left: 20px;
}

.sidebar-documents {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-bottom: 10px;
    padding: 5px 10px 5px 5px;
    width: 283px !important;
}

    .sidebar-documents h4 {
        margin-left: 10px;
    }

    .sidebar-documents .item {
        margin-left: 15px;
    }

#twitter-listing {
    clear: both;
}

.blog-item, .twitter-item {
    margin: 10px 0;
}

    .blog-item .left, .twitter-item .left {
        margin: 3px 0;
        width: 60px;
    }

    .blog-item .author, .twitter-item .author {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #E7E7E8;
        margin: 0 10px;
        padding: 5px;
        width: 30px;
    }

    .blog-item .right, .twitter-item .right {
        margin: 0 8px 0 0;
        width: 220px;
    }

    .blog-item .small-date, .twitter-item .small-date {
        font-size: 10px;
        font-weight: bold;
    }

    .blog-item .title a, .twitter-item .title a, .sidebar-documents .item a {
        font-weight: bold;
    }

#frontpage-bottom-content {
    margin: 10px 0;
}

#join-our-network {
    display: none;
}

#network-title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin: 12px 20px;
    text-align: right;
    text-shadow: 1px 1px #000000;
}

#networks {
    margin: 10px 0;
    text-align: center;
}

    #networks a {
        margin: 0 3px;
    }

#footer .right {
    margin: 20px 0;
    text-align: right;
}

    #footer .right .logos a {
        margin: 0 10px;
    }

.sub-nav-footer {
    border-top: medium none;
    padding-top: 5px;
}

    .sub-nav-footer a {
        border-left: 1px solid #525252;
        color: #525252;
        font-size: 12px;
        margin: 0 0 0 5px;
        padding-left: 10px;
        text-decoration: underline;
    }

        .sub-nav-footer a:hover {
            color: #BD0000;
        }

    .sub-nav-footer .first {
        border-left: medium none;
        padding-left: 0;
    }

#privacy {
    padding: 0 4px 0 0;
}

#search-input {
    border: 2px solid #F0F0F0;
    float: left;
    height: 19px;
    margin: 0;
    padding: 0;
    width: auto;
}

#membership-overview li {
    background: url("/f/files/css/main/images/check.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    font-weight: bold;
    list-style: none outside none;
    margin: 0 10px;
    padding: 2px 20px;
}

#gain-access .item {
    margin: 20px 10px;
    padding: 0 0 0 40px;
}

#gain-access #developer {
    background: url("/f/files/css/main/images/developer.png") no-repeat scroll 0 0 #FFFFFF;
}

#gain-access #support {
    background: url("/f/files/css/main/images/support.png") no-repeat scroll 0 0 #FFFFFF;
}

#gain-access #global {
    background: url("/f/files/css/main/images/global.png") no-repeat scroll 0 0 #FFFFFF;
}

#gain-access #resources {
    background: url("/f/files/css/main/images/resources.png") no-repeat scroll 0 0 #FFFFFF;
}

#content .content-div {
    border-bottom: 1px dotted #CCCCCC;
    margin: 0 0 20px;
    padding: 0 0 10px;
}

#join-aepona-dev {
    padding: 10px;
}

    #join-aepona-dev .clear {
        float: none;
    }

    #join-aepona-dev div {
        color: #FFFFFF;
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 37px;
        margin: 0 10px 0 0;
        text-shadow: 1px 1px #000000;
    }

    #join-aepona-dev a {
        float: right;
    }

        #join-aepona-dev a:hover {
            background-position: 0 -37px;
        }

#terms-small {
    border: 1px solid #CCCCCC;
    height: 250px;
    overflow: auto;
    padding: 5px;
}

#profile {
    padding: 0 0 10px;
}

    #profile .right {
        margin: 0 0 0 10px;
        width: 530px;
    }

#profile {
    border-bottom: 1px dotted #CCCCCC;
    color: #4F5054;
    font-size: 16px;
    margin: 0 0 20px;
}

    #profile .right h2 {
        color: #333333;
        margin-top: 0;
    }

    #profile .right .right {
        margin: 20px 0;
        width: auto;
    }

#edit-profile {
    display: block;
    height: 22px;
    line-height: 22px;
    width: 107px;
}

#projects {
    margin: 0;
}

    #projects .stage {
        margin: 20px 0;
    }

        #projects .stage p {
            margin-bottom: 5px;
        }

        #projects .stage .item {
            border-bottom: 1px solid #EEEEEE;
            margin: 0;
            padding: 5px 0;
        }

            #projects .stage .item .border-wrapper {
                background: url("/f/files/css/main/images/project_item_bg.png") repeat-x scroll 0 0 #F9F9F9;
                border: 1px solid #EEEEEE;
                padding: 5px;
            }

            #projects .stage .item span {
                color: #4F5054;
                float: left;
                font-size: 18px;
                font-weight: bold;
                line-height: 26px;
            }

.sidebar-padding {
    margin-top: 60px;
}

#sidebar-interior .header {
    background: none repeat scroll 0 0 #BEBDBD;
}

    #sidebar-interior .header h3 {
        color: #FFFFFF;
        margin: 0;
        padding: 8px;
    }

#sidebar-interior .item {
    border-bottom: 1px dotted #BBBBBB;
    margin: 5px 0 0;
    padding: 0 0 5px;
}

#developers .item, #terms .item {
    border-bottom: 1px dotted #CCCCCC;
    padding: 10px 0;
}

#developerList {
    background: none repeat scroll 0 0 #F7F7F7;
    margin-top: 20px;
}

    #developerList .item {
        border-bottom: 1px solid #EEEEEE;
        margin: 0;
        padding: 0;
    }

        #developerList .item .border-wrapper {
            background: url("/f/files/css/main/images/project_item_bg.png") repeat-x scroll 0 0 #F9F9F9;
        }

        #developerList .item a span {
            text-decoration: underline;
        }

        #developerList .item a:hover span {
            color: #006996;
        }

#developers .item a, #documents .item, #documents .item a {
    color: #78828C;
    font-size: 14px;
    font-weight: bold;
}

    #developers .item a.button {
        color: #6D6C6C;
        font-size: 12px;
        font-weight: 600;
    }

#off-the-blog-interior .item .date-author {
    color: #22282A;
    font-size: 12px;
    font-weight: bold;
}

.item .date-author a {
    font-size: 12px;
    font-weight: bold;
}

#projects .item .title a {
    color: #78828C;
}

.item .title a {
    color: #006996;
    font-size: 14px;
    font-weight: bold;
}

#body_container .item .pagebody {
    margin: 0 0 20px;
}

#off-the-blog-interior h3 {
    float: left;
    margin: 0;
    width: 200px;
}

#off-the-blog-interior .rss {
    background-color: #BEBDBD;
    display: block;
    float: right;
    margin: 8px;
    width: 30px;
}

#sidebar-interior .sidebar-item {
    margin: 0 0 20px;
}

#footer #copyright {
    margin: 0 0 5px;
    text-align: left;
}

#frontpage-top-content {
    margin-top: 10px;
}

    #frontpage-top-content p {
        color: #525252;
        font-size: 12px;
    }

#blog .item .right {
    margin: 0;
    width: 470px;
}

    #blog .item .right .right {
        margin: 0;
        width: auto;
    }

    #blog .item .right a {
        color: #006996;
        font-weight: bold;
    }

    #blog .item .right .author-comments {
        border-bottom: 1px solid #EEEEEE;
        border-top: 1px solid #EEEEEE;
        margin: 0;
        padding: 5px 0;
    }

#blog .item .author-avatar {
    width: 80px;
}

#blog h2 {
    border-bottom: 0 none;
    margin-top: 0;
}

#blog a h2 {
    text-decoration: underline;
}

#blog .item .author-avatar .date {
    background: none repeat scroll 0 0 #006996;
}

    #blog .item .author-avatar .date .left {
        border-right: 1px solid #78828C;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        width: 38px;
    }

    #blog .item .author-avatar .date .right {
        border-left: 1px solid #78828C;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        margin: 0;
        padding: 0 0 0 5px;
        width: 35px;
    }

#blog .blog-content {
    margin: 30px 0;
}

    #blog .blog-content .code {
        border: 1px solid #BBBBBB;
    }

    #blog .blog-content blockquote {
        background: url("/f/files/css/main/images/quote.png") no-repeat scroll 10px 20px #006996;
        padding: 10px 10px 10px 60px;
    }

        #blog .blog-content blockquote p {
            color: #FFFFFF;
            font-size: 14px;
            font-style: italic;
            font-weight: bold;
            margin: 10px 0;
        }

#blog .blog-summary {
    border-bottom: 1px dotted #CCCCCC;
    margin: 20px 0;
    padding-bottom: 10px;
}

#blog .tags-comments {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin: 30px 0;
    padding: 5px 0;
}

#blog #comments .tags-comments {
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    margin: 5px 0;
    padding: 5px 0;
}

#blog .tags-comments .right {
    margin: 0;
    width: auto;
}

#blog .tags-comments .left {
    color: #2E373D;
    font-size: 14px;
}

    #blog .tags-comments .left a {
        color: #006996;
        font-weight: bold;
    }

#join-the-conversation .title {
    background: url("/f/files/css/main/images/join_the_conversation_bottom.png") no-repeat scroll left bottom #FFFFFF;
    padding: 0 0 10px;
}

#sidebar-interior #join-the-conversation .item {
    border: medium none;
    margin: 20px 0;
    padding: 0 30px 0 0;
}

#sidebar-interior .item {
    font-weight: bold;
}

div.tour {
    padding-top: 20px;
}

#blog .blog-content .feature {
    color: #980E0E;
    font-size: 18px;
}

#blog .blog-content p {
    margin: 20px 0;
}

table.forums thead tr, table.forums thead tr th {
    background: none repeat scroll 0 0 #F0F0F0;
}

.break {
    border-bottom: 1px dotted #CCCCCC;
    margin-bottom: 10px;
}

#developer-show .item {
    border-top: 1px dotted #CCCCCC;
    margin: 20px 0;
    padding: 20px 0;
}

table.forums tbody tr, table.forums tbody tr td {
    border-bottom: 1px solid #CCCCCC;
}

table.forums td.column-even {
    background: none repeat scroll 0 0 #F0F0F0;
}

table.forums td, table.forums th {
    padding: 5px;
    vertical-align: middle;
}

table.forums tr.group td {
    font-weight: bold;
}

table.forums th.forum, table.forums td.forum {
    width: 450px;
}

br.spacer {
    line-height: 14px;
}

.right-border {
    border-right: 1px dotted #CCCCCC;
}

.header_26 {
    margin-top: 26px;
}

#marketing p {
    margin: 0;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #EEEEEE -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
    height: 1px;
    margin: 20px 0;
}

.twtr-ft, .twtr-hd {
    display: none !important;
}

a.downloadDocLink {
    background: url("/f/files/css/main/images/icons/drive-download.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 20px;
}

.reportMonthsList li {
    display: inline;
    list-style-type: none;
    margin-left: 0;
    padding-right: 2px;
}

.nav-header ul, .nav-header ul li {
    margin: 0;
    padding: 0;
}

.nav-header > ul {
    background: none repeat scroll 0 0 #E60000;
    font-size: 14px;
    height: 60px;
    list-style: none outside none;
    margin: 10px 0 0;
}

    .nav-header > ul > li {
        border-left: 1px solid #DF1800;
        float: left;
    }

        .nav-header > ul > li:hover {
            border-left: medium none;
            margin-left: 1px;
        }

        .nav-header > ul > li > a {
            background-clip: padding-box;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #FFFFFF;
            display: block;
            font-weight: bold;
            height: 38px;
            line-height: 38px;
            margin: 10px 5px 0;
            padding: 0 10px 10px;
        }

        .nav-header > ul > li.selected a {
            background: none repeat scroll 0 0 #BC1300;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            height: 60px;
            line-height: 60px;
            margin: 0;
            padding: 0 15px;
        }

        .nav-header > ul > li > a:hover {
            background: none repeat scroll 0 0 padding-box #FFFFFF;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            color: #525252;
            height: 40px;
            line-height: 40px;
            margin: 10px 5px 0;
            padding: 0 10px 10px;
            text-decoration: none;
        }

        .nav-header > ul > li ul {
            display: none;
        }

#footer ul ul, .nav-footer ul, .nav-footer ul li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.nav-footer {
    height: 120px;
    margin: auto;
    text-align: left;
    width: 960px;
}

    .nav-footer > ul {
        margin-top: 0;
    }

        .nav-footer > ul > li {
            border-left: 1px solid #DDDDDD;
            float: left;
            height: 55px;
            padding: 10px;
            width: 138px;
        }

            .nav-footer > ul > li:first-child {
                border: medium none;
            }

    .nav-footer ul a {
        color: #666666;
        font-size: 12px;
    }

    .nav-footer > ul > li > a {
        color: #525252;
        font-size: 12px;
        font-weight: bold;
    }

    .nav-footer > ul > li > ul {
    }

        .nav-footer > ul > li > ul li {
            margin: 5px 0;
        }

            .nav-footer > ul > li > ul li a {
                color: #525252;
                font-size: 12px;
                font-weight: normal;
            }

    .nav-footer a:hover {
        color: #BD0000;
    }

    .nav-footer > ul > li > ul > li > ul {
        display: none;
    }

div#frontpage-middle-content > div > *:first-child {
    margin-top: 0;
}

.sub-nav-footer ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

    .sub-nav-footer ul li {
        float: left;
        margin: 0;
        padding: 0 10px 5px 0;
    }

        .sub-nav-footer ul li:first-child a {
            padding-left: 0;
        }

        .sub-nav-footer ul li:first-child a {
            border-left: medium none;
        }

.theSiteMap li.title {
    color: #004499;
    font-weight: bold;
    list-style: none outside none;
    margin: 0 0 20px;
}

    .theSiteMap li.title li {
        color: #000000;
        margin-left: 30px;
    }

.translationHolder {
    float: left;
    width: 150px;
}

#translationSelect_input {
    line-height: 35px;
}

#user-controls div.selectbox-wrapper, #user-controls div.selectbox-wrapper * {
    margin: 0;
    padding: 0;
}

#user-controls li:first-child {
    list-style: none outside none;
}

#user-controls div.selectbox-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: -10px 0 0;
    max-height: 200px;
    overflow: auto;
    padding: 0;
    position: absolute;
    text-align: left;
    width: 400px;
    z-index: 99;
}

    #user-controls div.selectbox-wrapper ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        #user-controls div.selectbox-wrapper ul li {
            color: #2081A7;
        }

            #user-controls div.selectbox-wrapper ul li.selected {
                background-color: #EAF2FB;
            }

            #user-controls div.selectbox-wrapper ul li.current {
                background-color: #CDD8E4;
            }

        #user-controls div.selectbox-wrapper ul li {
            clear: left;
            cursor: pointer;
            display: block;
            list-style-type: none;
            margin: 0;
            padding: 2px;
        }

    #user-controls div.selectbox-wrapper ul {
        float: none;
    }

#user-controls .selectbox {
    background: url("//f/files/css/main/images/downarrow.gif") no-repeat scroll left center rgba(0, 0, 0, 0);
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 40px;
    margin: 0 5px 10px 0;
    padding-left: 20px;
    text-align: left;
    width: 110px;
}

.promoteToProduction_4 {
    background: url("/f/files/css/main/images/statusbar2.gif") no-repeat scroll left top #BD0000;
    border: 2px solid #EEEEEE;
    height: 100px;
    list-style: none outside none;
    margin: auto;
    padding: 0 20px;
    width: 875px;
}

    .promoteToProduction_4.step2 {
        background-position: 0 -100px;
    }

    .promoteToProduction_4.step3 {
        background-position: 0 -200px;
    }

    .promoteToProduction_4.step4 {
        background-position: 0 -300px;
    }

    .promoteToProduction_4 li {
        float: left;
        height: 75px;
        padding: 25px 0 0 10px;
        width: 281px;
    }

        .promoteToProduction_4 li span {
            border-left: 1px solid #EEEEEE;
            color: #777777;
            display: block;
            font-size: 14px;
            font-weight: bold;
            height: 60px;
            padding: 10px 0 0 10px;
        }

.promoteToProduction_6 {
    background: url("/f/files/css/main/images/statusbar.gif") no-repeat scroll left top #BD0000;
    border: 2px solid #EEEEEE;
    height: 100px;
    list-style: none outside none;
    margin: auto;
    padding: 0 20px;
    width: 860px;
}

    .promoteToProduction_6.step2 {
        background-position: 0 -100px;
    }

    .promoteToProduction_6.step3 {
        background-position: 0 -200px;
    }

    .promoteToProduction_6.step4 {
        background-position: 0 -300px;
    }

    .promoteToProduction_6.step5 {
        background-position: 0 -400px;
    }

    .promoteToProduction_6.step6 {
        background-position: 0 -500px;
    }

    .promoteToProduction_6 li {
        float: left;
        height: 75px;
        padding: 25px 0 0 10px;
        width: 200px;
    }

        .promoteToProduction_6 li span {
            border-left: 1px solid #EEEEEE;
            color: #777777;
            display: block;
            font-size: 14px;
            font-weight: bold;
            height: 60px;
            padding: 10px 0 0 10px;
        }

#createAProject {
    margin: 10px 0;
}

.projectButtons {
    display: inline-block;
    text-align: right;
}

    .projectButtons .button {
        display: inline-block;
        margin: 10px 10px 0 0;
    }

.projectsHolder {
    background: none repeat scroll 0 0 #EEEEEE;
    display: inline-block;
}

    .projectsHolder h4.title, .projectsHolder p {
        margin-left: 10px;
    }

    .projectsHolder .item {
        border-bottom: 1px solid #CCCCCC;
    }

.projectDetails {
    display: inline-block;
    vertical-align: top;
    width: 370px;
}

.partnerDashButtons {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.partnerDashDetails {
    display: inline-block;
    vertical-align: top;
    width: 370px;
}

.partnerDashButtons .button {
    margin: 15px 10px;
}

.ui-widget-header {
    background: url("images/ui-bg_highlight-soft_100_deedf7_1x100.png") repeat-x scroll 50% 50% #DDDDDD;
    border: 1px solid #BBBBBB;
    color: #222222;
}

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: url("images/ui-bg_glass_80_d7ebf9_1x400.png") repeat-x scroll 50% 50% #DDDDDD;
        border: 1px solid #BBBBBB;
        color: #222222;
    }

table.dataTable tr.odd {
    background-color: #EEEEEE;
}

    table.dataTable tr.odd td.sorting_1 {
        background-color: #DDDDDD;
    }

table.dataTable tr.even td.sorting_1 {
    background-color: #EEEEEE;
}

#loginForm label {
    font-weight: normal;
}

#siteMap > ul {
    font-weight: bold;
    list-style: none outside none;
}

    #siteMap > ul li {
        margin: 10px 0;
    }

    #siteMap > ul ul {
        font-weight: normal;
        margin-left: 20px;
    }

        #siteMap > ul ul li {
            margin: 5px 0;
        }

.whiteBox {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 2px solid #DDDDDD;
    border-right: 2px solid #DDDDDD;
    margin-top: 20px;
    padding: 20px;
}

button, a.button, input.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("/f/files/css/main/images/btn_gen_1.jpg") repeat-x scroll center center rgba(0, 0, 0, 0);
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    line-height: 25px;
    overflow: visible;
    padding: 0 10px;
    width: auto;
}

    button:hover, a.button:hover, input.button:hover {
        background: url("/f/files/css/main/images/btn_gen_2.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0);
        color: #FFFFFF;
        text-decoration: none;
    }

    button.primary, a.button.primary, input.button.primary {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: url("/f/files/css/main/images/btn_pri_1.jpg") repeat-x scroll center center rgba(0, 0, 0, 0);
        border-color: #CCCCCC #CCCCCC #BBBBBB;
        border-image: none;
        border-style: solid;
        border-width: 1px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        line-height: 25px;
        overflow: visible;
        padding: 0 10px;
        width: auto;
    }

        button.primary:hover, a.button.primary:hover, input.button.primary:hover {
            background: url("/f/files/css/main/images/btn_pri_2.jpg") repeat-x scroll center bottom rgba(0, 0, 0, 0);
        }

#body_container div.leftnav h2 {
    margin-bottom: 0;
}

div.leftnav ul {
    list-style: none outside none;
    margin: 0 -20px;
    padding: 0;
}

    div.leftnav ul li {
        border-bottom: 1px solid #DDDDDD;
        margin: 0;
        padding: 5px 20px;
    }

#countryNetworksAccordion #networks {
    margin: 0;
}

.leftNavBody {
    background: none repeat scroll 0 0 #FFFFFF;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar li {
    background-color: #FFFFFF;
    border-bottom: 1px solid #EDEDED;
    content: "";
    margin: 0.8em 0.2em 0 -20px;
}

.res-left-navigation ul.res-grey-arrow-list li {
    border-bottom: medium none;
    margin: 0;
    padding: 0;
}

    .res-left-navigation ul.res-grey-arrow-list li.res-box-header {
        background-image: none;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }

.sidebar ul li a {
    background-color: #FFFFFF;
    background-image: url("images/arrows_on_white.png");
}

.sidebar li a {
    background-position: 9px 2px;
    background-repeat: no-repeat;
    color: #333333;
    padding: 0 0 0 19px;
    text-decoration: none;
}

.sidebar a {
    background-color: #EBEBEB;
    background-image: none;
    border-bottom: medium none;
    padding-left: 10px;
    padding-top: 8px;
}

.sidebar a {
    background-color: #ECEAEB;
    background-image: url("images/arrows_on_grey.png");
    cursor: default;
}

.sidebar li a:hover {
    background: url("images/arrows_on_white.png") no-repeat scroll 9px -47px #FFFFFF;
    color: #BD0000;
}

.sidebar a:hover {
    background-color: #EBEBEB;
    background-image: none;
}

.sidebar ul li a:hover {
    background-color: #ECEAEB;
    background-image: url("images/arrows_on_grey.png");
    color: #525252;
}

.sidebar ul li a:hover {
    background-color: #FFFFFF;
    background-image: url("images/arrows_on_white_red.png");
    background-position: 9px 2px;
    color: #BD0000;
    cursor: pointer;
}

.sidebar li ul li a {
    background-position: 19px 9px;
    padding-left: 29px;
}

.sidebar a:hover {
    background-position: 19px -47px;
}

.sidebar li ul li ul li a {
    background-position: 29px 9px;
    padding-left: 39px;
}

    .sidebar li ul li ul li a:hover {
        background-position: 29px -47px;
    }

.sidebar li ul li ul li ul li a {
    background-position: 39px 9px;
    padding-left: 49px;
}

    .sidebar li ul li ul li ul li a:hover {
        background-position: 39px -47px;
    }

.sidebar ul li ul li a {
    background-position: 29px 9px;
}

    .sidebar ul li ul li a:hover {
        background-position: 29px -47px;
    }
